[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
termcolor = "*"
python-telegram-bot = "*"
backoff = "*"
web3 = "*"
tqdm = "*"
telethon = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
rarity = "python scripts/calculator.py --id"
bot = "python scripts/telegram_bot.py"
